#snack-bar {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 168px;
    background-image: url(../img/pop-up.png);
    background-size: cover;
    border: 2px solid crimson;
    box-shadow: 0px 0px 30px 11px palevioletred;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 130px;
    font-size: 17px;
    padding: 25px;
    color: crimson;
    margin-left: -175px
}

#snack-bar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 130px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 130px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 130px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 130px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}